.options-navbar {
    display: flex;
    justify-content: space-around;
    background-color: #fff; /* Set the background color to white */
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.option-button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

.option-button:hover {
    background-color: #45a049;
}
